<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Together 需要使用麦克风，将你说出的待办快速转成任务标题。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Together 需要使用语音识别，将你说出的待办快速转成任务标题。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ResourceHanRoundedCN-Bold.ttf</string>
		<string>ResourceHanRoundedCN-ExtraLight.ttf</string>
		<string>ResourceHanRoundedCN-Heavy.ttf</string>
		<string>ResourceHanRoundedCN-Light.ttf</string>
		<string>ResourceHanRoundedCN-Medium.ttf</string>
		<string>ResourceHanRoundedCN-Normal.ttf</string>
		<string>ResourceHanRoundedCN-Regular.ttf</string>
	</array>
</dict>
</plist>
