<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hans</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hans</string>
		<string>en</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.pigdog.Together</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>together</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Together 需要使用相机拍摄头像照片，用于更新你的个人资料头像。</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Together 使用 Face ID 保护你的隐私数据。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ResourceHanRoundedCN-Bold.ttf</string>
		<string>ResourceHanRoundedCN-ExtraLight.ttf</string>
		<string>ResourceHanRoundedCN-Heavy.ttf</string>
		<string>ResourceHanRoundedCN-Light.ttf</string>
		<string>ResourceHanRoundedCN-Medium.ttf</string>
		<string>ResourceHanRoundedCN-Normal.ttf</string>
		<string>ResourceHanRoundedCN-Regular.ttf</string>
	</array>
</dict>
</plist>
